.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  transition: transform 0.3s ease;
  max-width: calc((100% - 48px) / 3);
}
.gallery-item:hover {
  transform: scale(1.04);
}
.sl-overlay {
  background: rgba(46, 47, 66, 0.8);
}
.simple-lightbox {
  max-width: 1112px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}

.sl-wrapper .sl-counter,
.sl-wrapper .sl-close {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
